<footer>
  <div class="prvniCast">
    <p>Sdílejte tento projekt a</p>
    <p class="hashtag">#zachranteKamarada</p>
    <div class="socialMedia" id="socialnisite">
      <a href="https://instagram.com/najdimazlicka">
        <img src="assets/img/instagram.png" alt="Instagram NajdiMazlíčka">
      </a>
      <a href="https://www.facebook.com/najdimazlicka.cz">
        <img src="assets/img/facebook.png" alt="Facebook NajdiMazlíčka">
      </a>
      <a href="https://www.youtube.com/channel/UCTWLg7f9lhBFGqO8i1rkt5Q">
        <img src="assets/img/youtube.png" alt="Youtube NajdiMazlíčka">
      </a>
    </div>
  </div>
  <div class="druhaCast">
    <p>Copyright © 2019 PalmMedia s.r.o.</p>
    <a href="/obchodnipodminky">Obchodní podmínky a zásady ochrany osobních údajů</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
</footer>
