<header>
  <a href="/" class="logo">
    <img src="assets/img/logo.png" alt="logo Najdi Mazlíčka">
  </a>
  <nav>
    <ul>
      <li>
        <a href="#jaktofunguje">Jak to funguje?</a>
      </li>
      <li>
        <a href="#koliktostoji">Kolik to stojí?</a>
      </li>
      <li>
        <a href="#onas">O nás</a>
      </li>
      <li>
        <a href="#stastnekonce">Šťastné konce</a>
      </li>
      <li>
        <a href="#socialnisite">Sociální sítě</a>
      </li>
      <li>
        <img src="assets/img/telefon.png" alt="telefon">
        <a href="tel:+420605176305">+420 605 176 305</a>
      </li>
    </ul>
  </nav>
  <a class="menuButton" href="#">
    <img src="assets/img/menu.png" alt="menu">
  </a>
</header>
