<div class="mobileHeader">
  <div class="navigace">
    <a href="/" class="logo">
      <img src="assets/img/logo.png" alt="logo Najdi Mazlíčka">
    </a>
    <a class="zavritButton" href="#">
      <img src="assets/img/zavrit.png" alt="zavřít">
    </a>
  </div>
  <ul>
    <nav>
      <li>
        <a href="#jaktofunguje">Jak to funguje?</a>
      </li>
      <li>
        <a href="#koliktostoji">Kolik to stojí?</a>
      </li>
      <li>
        <a href="#onas">O nás</a>
      </li>
      <li>
        <a href="#stastnekonce">Šťastné konce</a>
      </li>
      <li>
        <a href="#socialnisite">Sociální sítě</a>
      </li>
    </nav>
  </ul>
  <div class="mobil">
    <img src="assets/img/telefon.png" alt="telefon">
    <a href="tel:+420605176305">+420 605 176 305</a>
  </div>
</div>
