<div class="mobileHeader">
  <div class="navigace">
    <a title="Domů" href="/" class="logo">
      <img src="assets/img/logo-min.png" alt="logo Najdi Mazlíčka">
    </a>
    <a title="Zavřít" class="zavritButton">
      <img src="assets/img/zavrit-min.png" alt="zavřít">
    </a>
  </div>
  <ul>
    <nav>
      <li>
        <a title="Jak to funguje?" href="/#jaktofunguje">Jak to funguje?</a>
      </li>
      <li>
        <a title="Kolik to stojí?" href="/#koliktostoji">Kolik to stojí?</a>
      </li>
      <li>
        <a title="O nás" href="/#onas">O nás</a>
      </li>
      <li>
        <a title="Šťastné konce" href="/#stastnekonce">Šťastné konce</a>
      </li>
      <li>
        <a title="Sociální sítě" href="/#socialnisite">Sociální sítě</a>
      </li>
    </nav>
  </ul>
  <div class="mobil">
    <img src="assets/img/telefon-min.png" alt="telefon">
    <a title="Telefon na nás" href="tel:+420605176305">+420 605 176 305</a>
  </div>
</div>
